:root {
  --color1: #2196F3;
  --color2: #757575;
  --color3: #212121;
  --color4: #FFFFFF;
  --color5: #F5F5F5;
  --color6: #2F303A;
  --color7: #F5F4FA;
  --color8: #EEEEEE;
  --color9: #AFB1B8;
  --font-size1: 14px;
  --font-size2: 16px;
  --font-size3: 26px;
  --font-size4: 36px;
  --font-weight1: 500;
  --font-weight2: 700;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  padding-inline-start: 0;
  list-style: none;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.section-title--hidden,
.hidden {
  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__padding {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__padding {
    display: block;
  }
}

.section__background {
  background-color: var(--color7);
}

.section__title {
  font-weight: var(--font-weight2);
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color3);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: var(--font-size4);
    line-height: 1.16;
  }
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: 1px solid var(--color8);
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
}

.container__mobile {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__mobile {
    display: flex;
    align-items: center;
    gap: 97px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container__mobile {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 93px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: var(--font-weight2);
  font-size: var(--font-size3);
  color: var(--color1);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 16px 0;
}

.logo__dark {
  color: #000000;
}

.telephone__icon,
.mail__icon {
  margin-right: 10px;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: var(--font-weight1);
  font-size: var(--font-size1);
  color: var(--color3);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}
.site-nav__link:focus, .site-nav__link:hover {
  color: var(--color1);
  transition: color 250ms var(--cubic-bezier);
}

.site-nav__link--active {
  color: var(--color1);
}
.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--color1);
  border-radius: 2px;
  content: "";
}

.header__contacts {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
    gap: 50px;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  font-weight: var(--font-weight1);
  font-size: var(--font-size1);
  color: var(--color2);
  fill: var(--color2);
  transition: fill 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--color1);
  fill: var(--color1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
  }
}

.contacts__item {
  margin-bottom: 10px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-bottom: 0;
  }
}

.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  padding: 48px 83px 40px 40px;
  width: 100%;
  height: 100%;
  background-color: var(--color4);
}

.mobile-menu__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.is-open {
  display: block;
}

.memu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 15px;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: var(--color4);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .memu-btn {
    display: none;
  }
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: var(--color4);
  cursor: pointer;
}
.btn-close:hover {
  fill: var(--color1);
}

.nav-mobile__item {
  margin-bottom: 30px;
}
.nav-mobile__item:last-child {
  margin-bottom: 0;
}

.nav-mobile__link {
  font-weight: var(--font-weight1);
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color3);
}
.nav-mobile__link:hover, .nav-mobile__link:focus {
  color: var(--color1);
}

.nav-mobile__link--active {
  color: var(--color1);
}

.mobile-contacts__item {
  margin-bottom: 32px;
}
.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-contacts__link--active {
  font-weight: var(--font-weight1);
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color1);
}

.mobile-contacts__link {
  font-weight: var(--font-weight1);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color2);
}

.social-contacts {
  display: flex;
}

.cocial-contacts__item {
  padding: 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.cocial-contacts__item:last-child {
  border: none;
  padding-right: 0;
}
.cocial-contacts__item:first-child {
  padding-left: 0;
}

.cocial-contacts__link {
  font-weight: var(--font-weight1);
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color1);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background: var(--color6);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/Img@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/Img@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/mobileimg@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/mobileimg@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/tabletimg@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../Image/Hero/tabletimg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px;
  color: var(--color4);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.backdrop {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: var(--font-size2);
  line-height: 1.87;
  color: var(--color4);
  letter-spacing: 0.06em;
  background: var(--color1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button {
  padding: 10px 32px;
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: var(--font-size2);
  line-height: 1.87;
  color: var(--color4);
  letter-spacing: 0.06em;
  background: var(--color1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 10px;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  font-weight: var(--font-weight2);
  font-size: 16px;
  line-height: 1.8;
  color: var(--color4);
  background: var(--color1);
  border-radius: 4px;
  cursor: pointer;
}

.advances {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.advances__item {
  flex-grow: 1;
  flex-basis: calc(100% - 30px);
}
@media screen and (min-width: 768px) {
  .advances__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advances__item {
    flex-basis: calc((100% - 150px) / 4);
  }
}

.advances__title {
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color3);
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advances__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .advances__title {
    text-align: left;
  }
}

.advances__text {
  font-size: var(--font-size1);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.advances__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 120px;
  background: var(--color7);
  border-radius: 4px;
}

.about {
  display: flex;
  gap: 30px;
}

.about__text {
  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color4);
}

.about__img {
  position: relative;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team__container {
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: var(--font-weight1);
  font-size: var(--font-size2);
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color3);
  text-align: center;
}

.team__item {
  flex-grow: 1;
  background: var(--color4);
  flex-basis: calc(100% - 30px);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 150px) / 4);
  }
}

.team__text {
  margin-bottom: 16px;
  font-size: var(--font-size2);
  color: var(--color2);
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color4);
  fill: var(--color9);
  transition: fill 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}
.social__link:hover, .social__link:focus {
  background: var(--color1);
  fill: var(--color4);
}

.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  fill: var(--color9);
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--color9);
  fill: var(--color9);
  transition: fill 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--color1);
  border: 1px solid var(--color1);
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }
}

.subscribe__title {
  font-weight: var(--font-weight2);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color4);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscribe-form__input {
  padding: 15px 15px 16px;
  background-color: var(--color6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    display: block;
    margin: 0 auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.email__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .email__form {
    margin-bottom: 0;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 10px;
  padding: 10px 28px;
  letter-spacing: 0.06em;
  font-weight: var(--font-weight2);
  font-size: 16px;
  line-height: 1.8;
  color: var(--color4);
  background: var(--color1);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form__icon {
  fill: var(--color4);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 3);
    max-width: 370px;
  }
}

.container-text {
  padding: 20px 24px;
  border: 1px solid var(--color8);
}
@media screen and (min-width: 768px) {
  .container-text {
    flex-grow: 1;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}
.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: var(--font-weight2);
  color: var(--color3);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-size: var(--font-size2);
  color: var(--color2);
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio__link:focus .overlay, .portfolio__link:hover .overlay {
  transform: translateY(0);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__thumbfocus, .portfolio__thumb:hover {
  border: 1px solid color var(--color8);
}

.filter__button {
  padding: 6px 25px;
  font-weight: var(--font-weight1);
  font-size: var(--font-size2);
  background-color: var(--color7);
  color: var(--color3);
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.filter__button:focus, .filter__button:hover {
  background: var(--color1);
  color: var(--color4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal {
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color4);
  border-radius: 4px;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    max-width: 450px;
    max-height: 609px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    padding: 40px;
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: var(--color4);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.modal__button:hover {
  fill: var(--color1);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color2);
  margin-bottom: 4px;
}

.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  resize: none;
  outline: transparent;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-bezier);
}
.register-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:focus {
  border-color: var(--color1);
}

.register-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}

.register-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms var(--cubic-bezier);
}
.register-form__input:focus {
  border-color: var(--color1);
}
.register-form__input:focus + .register-form__icon {
  fill: var(--color1);
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: 250ms var(--cubic-bezier);
}

.register-form__agreement {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 30px;
}

.icon__checked {
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier);
}

.icon__unchecked {
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.register-form__checkbox:checked + .register-form__icons .icon__checked {
  opacity: 1;
}

.register-form__checkbox:checked + .register-form__icons .icon__unchecked {
  opacity: 0;
}

.register-form__text {
  user-select: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color2);
}
@media screen and (min-width: 1200px) {
  .register-form__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.register-form__link {
  user-select: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color1);
}
@media screen and (min-width: 1200px) {
  .register-form__link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.register-form__field {
  position: relative;
  display: block;
}

.container-address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container-address {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .container-address {
    margin-bottom: 0px;
  }
}

.address-content {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-content {
    text-align: left;
  }
}

.address__item {
  margin-bottom: 9px;
  font-style: normal;
  font-size: var(--font-size1);
  color: var(--color4);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .address__item:last-child {
    margin-bottom: 0;
  }
}

.address__link--footer {
  color: var(--color4);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}
.address__link--footer:hover, .address__link--footer:focus {
  color: var(--color1);
}

.address__link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}
.address__link-footer:hover, .address__link-footer:focus {
  color: var(--color1);
}

.footer {
  padding: 60px 0;
  background: var(--color6);
}

.container-address {
  flex-grow: 1;
}

.container-footer-adaptiv {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-footer-adaptiv {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer-adaptiv {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  color: var(--color4);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color4);
  transition: background-color 250ms var(--cubic-bezier);
}
.footer-link__icon:hover, .footer-link__icon:focus {
  background: var(--color1);
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: var(--font-weight2);
  font-size: var(--font-size3);
  color: var(--color1);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.logo__light {
  color: var(--color4);
}

@media screen and (min-width: 1200px) {
  .container-icon {
    margin-left: 70px;
  }
}

.footer-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */