
body {
  font-family: 'Roboto', sans-serif;
}
:root {
  --color1: #2196F3;
  --color2: #757575;
  --color3: #212121;
  --color4: #FFFFFF;
  --color5: #F5F5F5;
  --color6: #2F303A;
  --color7: #F5F4FA;
  --color8: #EEEEEE;
  --color9: #AFB1B8;
  --font-size1: 14px;
  --font-size2: 16px;
  --font-size3: 26px;
  --font-size4: 36px;
  --font-weight1: 500;
  --font-weight2: 700;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  padding-inline-start: 0;
  list-style: none;
  margin: 0;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
 }

 img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
} 


.section-title--hidden , 
.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;
  font-weight: var(--font-weight2);
  font-size: var(--font-size4);
  color: var(--color3);

  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.header {
  border-bottom: 1px solid var(--color8);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: var(--font-weight2);
  font-size: var(--font-size3);
  color: var(--color1);
 
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__dark {
  color: #000000;
}

.logo__light {
  color: var(--color4);
}

.header-nav__menu {
  margin-left: 93px;
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: var(--font-weight1);
  font-size: var(--font-size1);
  color: var(--color3);
 
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}

.site-nav__link--active {
  color: var(--color1);
}

.site-nav__link:focus,
.site-nav__link:hover {
  color: var(--color1);
  transition: color 250ms var(--cubic-bezier);
}

.site-nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;

  background-color: var(--color1);
  border-radius: 2px;
  content: "";
}

.header__contacts {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 50px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  font-weight: var(--font-weight1);
  font-size: var(--font-size1);
  color: var(--color2);
  fill: var(--color2);
  transition: fill 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.telephone__icon,
.mail__icon {
  margin-right: 10px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--color1);
  fill: var(--color1);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background: var(--color6);
  background-image: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../Image/Imghead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color4);
  text-transform: uppercase;
  text-align: center;
}

.button {
  padding: 10px 32px;
  text-align: center;
  
  font-weight: var(--font-weight2);
  font-size: var(--font-size2);
  line-height: 1.87;
  color: var(--color4);
  letter-spacing: 0.06em;
  background: var(--color1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.advances{
  display: flex;
  gap: 30px;
}

.advances__title {
  margin-bottom: 10px;
  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color3);
  text-transform: uppercase;
}

.advances__text {
  font-size: var(--font-size1);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color2);

}

.advances-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 120px;
  background: var(--color7);
  border-radius: 4px;
}

.section--about {
padding-top: 0;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  background-color:rgba(47, 48, 58, 0.8);
  
}

.about__text {
  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color4);
}

.about-content {
  display: flex;
  gap: 30px;
}

.about__img {
  position: relative;
}

.section--team {
  background-color: var(--color7);
}

.team {
  display: flex;
  gap: 30px;
}


.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: var(--font-weight1);
  font-size: var(--font-size2);
  color: var(--color3);
  
  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__item {
  background: var(--color4);
}

.team__text {
  margin-bottom: 16px;

  font-size: var(--font-size2);
  color: var(--color2);

  text-align: center;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex; 
  justify-content: center; 
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:  var(--color4);
  fill: var(--color9);
  transition: fill 250ms var(--cubic-bezier),background-color 250ms var(--cubic-bezier);
}

.social__link:hover,
.social__linkk:focus {
  background: var(--color1);
  fill: var(--color4);
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
  fill: var(--color9);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;

  border: 1px solid var(--color9);
  fill: var(--color9);
  transition: fill 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--color1);
  border: 1px solid var(--color1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color6);
}

.conteiner__footer {
  display: flex;
  align-items: baseline;
}

.container-address {
  flex-grow: 1;
}

.container-icon {
  margin-left: 70px;
}

.address__item {
  margin-bottom: 9px;
  font-style: normal;
  font-size: var(--font-size1);
  color: var(--color4);

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__link--footer {
  color: var(--color4);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}

.address__link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}

.address-content {
  margin-top: 20px;
}

.address-content :last-child {
  margin-bottom: 0;
}

.footer__title {
  margin-bottom: 20px;

  font-weight: var(--font-weight2);
  font-size: var(--font-size1);
  color: var(--color4);

  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-icon {
  display: flex;
  gap: 10px;
}

.footer-link__icon {
  display: flex; 
  justify-content: center; 
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color4);
  transition: background-color 250ms var(--cubic-bezier);
}

.address__link-footer:hover,
.address__link-footer:focus,
.address__link--footer:hover,
.address__link--footer:focus {
  color: var(--color1);
}

.footer-link__icon:hover,
.footer-link__icon:focus {
  background: var(--color1);
}

.subscribe {
 margin-left: 93px;
}

.subscribe__form {
  display: flex;
  gap: 12px;
}

.subscribe-form {
  gap: 12px;
}

.subscribe-form__input {
  display: flex;
  align-items: center;
  width: 358px;

  font-weight: var(--font-weight1);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 15px 16px;
  background-color: var(--color6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}

.email__form {
  display: flex;
  flex-direction: column;
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  gap: 10px;
  padding: 10px 28px;

  letter-spacing: 0.06em;
  font-weight: var(--font-weight2);
  font-size: 16px;
  line-height: 1.8;
  color: var(--color4);
  background: var(--color1);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-form__icon {
  fill: var(--color4);
}

.subscribe__title {
  font-weight: var(--font-weight2);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color4);
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  width: 528px;
  height: 581px;
  background-color: var(--color4);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  cursor: pointer;

  width: 30px;
  height: 30px;

  background: var(--color4);
  border: 1px solid #0000001A; 
}

.modal__icon:hover {
  fill: var(--color1);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color2);
  margin-bottom: 4px;
}

.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size:12px ;
  resize: none;
  outline: transparent;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-bezier);
}

.register-form__message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  
  letter-spacing: 0.01em;
  
  color: rgba(117, 117, 117, 0.5);
}

.register-form__message:focus {
  border-color: var(--color1);
}

.register-form__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}

.register-form__title {
  display: block;
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.register-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms var(--cubic-bezier);
}

.register-form__input:focus  {
  border-color: var(--color1);
}

.register-form__input:focus + .register-form__icon {
  fill:var(--color1);
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: 250ms var(--cubic-bezier);
}

.register-form__agreement {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 30px;
}

.register-form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  text-align: center;
  font-weight: var(--font-weight2);
  font-size: var(--font-size2);
  line-height: 1.87;
  color: var(--color4);
  letter-spacing: 0.06em;
  background: var(--color1);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon__checked {
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier);
}

.icon__unchecked {
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.register-form__checkbox:checked + .register-form__icons .icon__checked {
  opacity: 1;
}
.register-form__checkbox:checked + .register-form__icons .icon__unchecked {
  opacity: 0;
}

.register-form__text {
  user-select: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color2);
}

.register-form__link {
  user-select: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color1);
}

.register-form__field {
  position: relative;
  display: block;
}

/*portfolio*/

.button__filter {
  padding: 6px 22px;
 
  font-weight:var(--font-weight1); 
  font-size: var(--font-size2);
  background-color: var(--color7);
  color: var(--color3);

  line-height: 1.62;
  text-align: center; 
  letter-spacing: 0.03em;
  border-radius: 4px; 
  cursor: pointer;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),box-shadow 250ms var(--cubic-bezier);
}

.button__filter:focus,
.button__filter:hover {
  background: var(--color1);
  color: var(--color4);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

}

.filter-content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container-text{
  padding: 20px 24px;
  border: 1px solid var(--color8)
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:focus .overlay,
.portfolio__link:hover .overlay {
  transform: translateY(0);
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: var(--font-weight2);
  color: var(--color3);
  font-size: 18px;

  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-size: var(--font-size2);
  color: var(--color2);

  line-height: 1.87;
  letter-spacing: 0.03em;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
  width: 100%;
  height: 100%;
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__item:focus, 
.portfolio__item:hover {
  border: 1px solid color var(--color8);
}
