:root {
    --color1: #2196F3;
    --color2: #757575;
    --color3: #212121;
    --color4: #FFFFFF;
    --color5: #F5F5F5;
    --color6: #2F303A;
    --color7: #F5F4FA;
    --color8: #EEEEEE;
    --color9: #AFB1B8;
    --font-size1: 14px;
    --font-size2: 16px;
    --font-size3: 26px;
    --font-size4: 36px;
    --font-weight1: 500;
    --font-weight2: 700;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  }